<div>
    {% url 'index' as index_url %}
    <span>{% if request.path == index_url %}Home{% else %}<a href="{{ index_url }}">Home</a>{% endif %}</span>
    {% url 'list' as list_url %}
    <span>{% if request.path == list_url %}List{% else %}<a href="{{ list_url }}">List</a>{% endif %}</span>
    {% url 'detail' as detail_url %}
    <span>{% if request.path == detail_url %}Detail{% else %}<a href="{{ index_url }}">Detail</a>{% endif %}</span>
    {% url 'data_model' as data_model_url %}
    <span>{% if request.path == data_model_url %}data_model{% else %}<a href="{{ index_url }}">Data Model</a>{% endif %}</span>
</div>