{% extends 'base.html' %}

{% block content %}

    <h1>External Resources</h1>

    https://www.ozharvest.org/food-waste-facts/

    https://www.lovefoodhatewaste.nsw.gov.au/about-food-waste

    https://www.dcceew.gov.au/environment/protection/waste/food-waste

    https://www.foodbank.org.au/food-waste-facts-in-australia/?

    https://www.hsph.harvard.edu/nutritionsource/sustainability/food-waste/

    https://www.cleanup.org.au/foodwaste

    https://en.wikipedia.org/wiki/Food_loss_and_waste
    
    https://www.stopfoodwaste.com.au/

{% endblock%}