{% extends '__base.html' %}

{% block content %}

    <h1>External Resources</h1>

    <ul>
        <li><a href='https://www.ozharvest.org/food-waste-facts/'> Oz Harvest</a></li>
        <li><a href='https://www.lovefoodhatewaste.nsw.gov.au/about-food-waste'>Love Food, Hate Waste</a></li>
        <li><a href='https://www.dcceew.gov.au/environment/protection/waste/food-waste'>DCCEEW</a></li>
        <li><a href='https://www.foodbank.org.au/food-waste-facts-in-australia/?'>Food Bank</a></li>
        <li><a href='https://www.hsph.harvard.edu/nutritionsource/sustainability/food-waste/'>HSPH</a></li>
        <li><a href='https://www.cleanup.org.au/foodwaste'>Cleanup.org</a></li>
        <li><a href='https://www.stopfoodwaste.com.au/'>Stop Food Waste</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Food_loss_and_waste'>Wikipedia</a></li>
    </ul>

{% endblock%}