{% extends '__base.html' %}

{% block content %}

    <h1>External Resources</h1>

    <ul>
        <li><a target="_blank" href='https://www.ozharvest.org/food-waste-facts/'> OzHarvest</a></li>
        
        <li><a target="_blank" href='https://www.lovefoodhatewaste.nsw.gov.au/about-food-waste'>NSW Government: Love Food, Hate Waste</a></li>
        
        <li><a target="_blank" href='https://www.dcceew.gov.au/environment/protection/waste/food-waste'>Department of Climate Change, Energy, the Environment and Water</a></li>
        
        <li><a target="_blank" href='https://www.foodbank.org.au/food-waste-facts-in-australia/?'>FoodBank.org</a></li>
        
        <li><a target="_blank" href='https://www.hsph.harvard.edu/nutritionsource/sustainability/food-waste/'>Harvard School of Public Health</a></li>
        
        <li><a target="_blank" href='https://www.cleanup.org.au/foodwaste'>Cleanup.org</a></li>
        
        <li><a target="_blank" href='https://www.stopfoodwaste.com.au/'>Stop Food Waste</a></li>
        
        <li><a target="_blank" href='https://en.wikipedia.org/wiki/Food_loss_and_waste'>Wikipedia</a></li>
    </ul>

{% endblock%}