{% extends "users/__base.html" %}
{% load static %}
{% load index %}            


<link rel="stylesheet" href="{% static 'users/header_style' %}" media= "screen" />

{% block title %}
<title> {{ item.title }} </title>
{% endblock %}

{% block content %}

<h1> {{ item.title }}</h1>
{% for content in item.content %}
<div class="detail content">
    {% if item.images|index:forloop.counter0 %}
    <img class="image detail" src="{% static item.images|index:forloop.counter0 %} " />
    {% endif %}

    {% autoescape off %}
    {{ content }}
    {% endautoescape %}
</div>
{% endfor %}



{% endblock %}


<!--
E.g. Layout

Title

Content 1                           |   Image
                                    |
                                    |
                                    |

Content 2                           |   Image
                                    |
                                    |
                                    |

-->
