{% load static %}

{% include 'users/navbar.html' %}

<nav class="nagivation-images">
    <article>
        <img src="{% static 'users/images/cause.png'%}" />
        <h5><a href="{% url 'items' 'impacts'%}">Impacts</a></h5>
        <p>It impacts mainly on economy and environment.</p>
    </article>

    <article>
        {% url 'items' as item_url %}
        <img src="{% static 'users/images/benefit.png'%}" />
        <h5><a href="{% url 'items' 'benefits'%}">Benefits</a></h5>
        <p>Food-waste management is beneficial for environmental,economical,social perspective.</p>
    </article>

    <article>
        <img src="{% static 'users/images/solution.png'%}" />
        <h5><a href="{% url 'items' 'solutions' %}">Food-waste Solution</a></h5>
        <p>We need to solve food waste problem with proper and effective solution.</p>
    </article>

    <article>
        {% url 'calculator' as calculator_url %}
        <img src="{% static 'users/images/calculator.png'%}" />
        <h5><a href="{% url 'calculator' %}">Food Calculator</a></h5>
        <p>With proper use of food calculation we can solve many wastage.</p>
    </article>
</nav>

<h1 class="title">Food-waste:<br>causes and solutions</h1>
<p>This website is about protecting global food chain by raising awareness and educating <br>people about food-waste and discussion about its proper mitigation.</p>
