{% extends 'users/__base.html' %}

{% block content %}

    <h1>Home Page</h1>
    <h3>This Website is made by Group-2:
        <li>Matthew Bonfanti:  349051  </li>
        <li>Arsh Hasan:        353668  </li>
        <li>Joshua Adigun:     356169  </li>
        <li>Meherina Shetu:    316782 </li>
        
        <p>Significant Feature of the Website:</p>
    <p>Our Website works on managing food waste which is complex global issue and refers to the discard of edible food that could have been consumed or used for other purposes, such as animal feed, composting or energy generation. The site contains login page where users can view their accounts, add waste entry and see the wastelist, and delete if necessary. </p>
    <p>The website allow users to add the leftover food items and suggest them how they can make recipes with these ingradients. Users can add or delete waste items. Users can also user calculator for counting how many kilos they have thrown away, how much food and how many times they are buying fresh foods, including user's age age and number of usera. Moreover, users can donate extra foods, as well as save how much they can donate with specific dates.</p>
    <p>This website is based on database model which has generation data about donation, organisation,recipes and users. Users table has userID,signupDate,user,pass,name,location, recipe table has recipeID, recipeName, userID, recipeDescription.</p>
     <p>thus Recipe table contains recipeID, recipeName, userID, recipeDescription including ingregients.csv with its ingredientID, ingredientName, measurementMethod and donation.csv with donationID, orgID, and donationDate.</p>
     <p>List page contains resons, solutions, benefits, resources, login, logout and wastelist and so on.</p>
        <p>Overall, the website utilises a database to record and retrieve information along with C.R.U.D. functionalities (Create, Read, Update and Delete) for all of its records.</p>

{% endblock%}
