{% extends 'users/__base.html' %}

{% block content %}

    <h1>Home Page</h1>
    <h3>This Website is made by Group-2:
        <li>Matthew Bonfanti:  349051  </li>
        <li>Arsh Hasan:        353668  </li>
        <li>Joshua Adigun:     356169  </li>
        <li>Meherina Shetu:    316782 </li>
    </h3>    
<p><u>Significant Feature of the Website:</u></p>
    <p>Our Website works on managing food waste which is complex global issue surrounding the discarding of edible food that could have been consumed or used for other purposes, such as animal feed, composting or energy generation. The site contains login page where users login and are able to audit their food waste, generate recipes for commonly wasted items, and schedule food donations to various organisations against foodwaste. </p>
    <p>Users can create, read, update and delete waste items. Users can create, update and delete their donation pledges, as well as read their past donations. Users can also user calculator to caclculate the impact of their waste based on how many kilos they have thrown away, how much food and how many times they are buying fresh foods.</p>
    <p>This website is based on database model which consists of six tables(WasteEntries, WasteItems, Organisation, Donate, FoodForm, RecipesSaved).</p>
    <p>List page contains necessary items of the site.</p>
        <p>Overall, the website utilises a database to record and retrieve information along with C.R.U.D. functionalities (Create, Read, Update and Delete) for all of its records.</p>

{% endblock%}
