{% extends 'users/__base.html' %}

{% block content %}

    <h1>Home Page</h1>

    <p>Food waste refers to the discard of edible food that could have been consumed or used for other purposes, such as animal feed, composting or energy generation. It is a complex global issue that has significant economic, social and environmental implications.</p>

    <p>In many parts of the world, food waste is a pervasive problem. According to the Food and Agriculture Organization of the United Nations, approximately one-third of all food produced globally is lost or wasted, which amounts to 1.3 billion tons of food annually. This is particularly concerning considering the increasing global population, food insecurity, and limited natural resources.</p>

    <p>Food waste occurs at different stages of the food supply chain, including production, post-harvest handling and storage, processing and distribution, retail and consumption. Various factors contribute to food waste, including improper storage, overproduction, and expiration dates, among others.</p>

    <p>Food waste has significant economic and social implications, as it leads to significant financial losses for farmers, retailers, and consumers, and exacerbates food insecurity and hunger. Additionally, food waste is a major environmental issue as it contributes to greenhouse gas emissions and climate change, and wastes natural resources such as land, water, and energy.</p>

    <p>Efforts are being made to reduce food waste through various initiatives, including food recovery programs, consumer education campaigns, and sustainable food production and consumption practices.</p>

{% endblock%}