{% extends "users/__base.html" %}
{% load static %}
{% load index %}

    {% block title %}
    <title>List</title>
    {% endblock %}
    {% block content %}
<h1>Item List</h1>
<p> This page displays a list of all the items required by the project brief.</p>
<h3>List of items for this project are:</h3>
<ul>
    {% for item in item_list %}
    <li>
        <p class="list" style="padding-top:8px; height: 1.5em; background:rgba(0, 0, 0,0.1);">
            <a href="{% url 'items' item.name  %}" style=" color: orange; font-size: 2em;">{{ item.name|upper }}</a>
         - {{ item.title }}
        </p>
    </li>
    {% endfor %}
    <li>
        <p class="list" style="padding-top:8px; height: 1.5em; background:rgba(0, 0, 0,0.1);">
            <a href="{% url 'calculator' %}" style="color: orange; font-size: 2em;">CALCULATOR</a>
            - Calculate the impact of your food waste.
        </p>
    </li>
</ul>
    {% endblock %}
