{% extends "users/__base.html" %}
{% load static %}
{% load index %}


{% block content %}
        
            <form action="" method="post" id="loginform">
                {% csrf_token %}
                <div style='margin-top:30px;'>
                    {% if error %}
                    <p style='color:red'>{{ error }}</p>
                    {% endif %}
                </div>
                <input type='text' name='username'
                    placeholder='username' />
                    <input type='password' name='password' placeholder='password' />
                    <button type="submit" form="loginform">Log in</button>
                </div>
                </form>
                
                
            </div>
       
            
    
{% endblock %}
