<nav>
    <div class="nav-links">
        <ul>
            <li class="nav-item">
                <a class="nav-link {% if navbar == 'Home' %} active {% endif %}" aria-current="page" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if navbar == 'list' %} active {% endif %}" href="{% url 'list' %}">List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if navbar == 'data_model' %} active {% endif %}" href="{% url 'data_model' %}">Data model</a>
            </li>
             <li class="nav-item">
                <a class="nav-link {% if navbar == 'login' %} active {% endif %}" href="{% url 'login' %}">Log in</a>
            </li>
             <li class="nav-item">
                <a class="nav-link {% if navbar == 'logout' %} active {% endif %}" href="{% url 'logout' %}">Log out</a>
            </li>
             
            <li class="nav-item">
                <a class="nav-link {% if navbar == 'wastelist' %} active {% endif %}" href="{% url 'wastelist' %}">Waste list</a>
            </li>
        </ul>
    </div>
</nav>

