<nav>
    <ul class="navigation-links">
        <li><a class="{% if navbar == 'Home' %} active {% endif %}" aria-current="page" href="{% url 'index' %}">Home</a></li>
        <li><a class="{% if navbar == 'list' %} active {% endif %}" href="{% url 'list' %}">List</a></li>
        <li><a class="{% if navbar == 'data_model' %} active {% endif %}" href="{% url 'data_model' %}">Data model</a></li>
        <li><a class="{% if navbar == 'login' %} active {% endif %}" href="{% url 'login' %}">Log in</a></li>
        <li><a class="{% if navbar == 'logout' %} active {% endif %}" href="{% url 'logout' %}">Log out</a></li>   
        <li><a class="{% if navbar == 'wastelist' %} active {% endif %}" href="{% url 'wastelist' %}">Waste list</a></li>
    </ul>
</nav>