{% extends "users/__base.html" %}
{% load static %}
{% load index %}

    {% block content %}
    <h1>Waste-list</h1>
    {% for wastelist in wastelist %}
       <strong>{{ wastelist}}</strong> 
       <ul>
        <li>WasteItemID: {{ wastelist.wasteItemID }}</li>
        <li>WasteEntryID: {{ wastelist.wasteEntryID }}</li>
        <li>Quantity: {{ wastelist.quantity }}</li>
        <li>Disposalmethod: {{ wastelist.disposalmethod }}</li>
        <li>DonationID: {{ wastelist.donationID }}</li>
        <li>Organisation: {{ wastelist.organisation}}</li>
        <li>Attendees:
            {% for user in wastelist.attendees.all %}
        {{ user }}</br>
            {% endfor %}
        </li>
       </ul>
       </br/>
       {% endfor %}
    