{% extends 'users/__base.html' %}

{% block title %}
<title>Audit Food Waste</title>
{% endblock%}

{% block content %}
<h1>Audit Food Waste</h1>   

<table>
    <td>Contents</td>
    <td><a href="{% url 'audit:create' %}" style="color: orange; font-size: 2em;">Create Waste Entry</a></td>
    <td><a href="{% url 'audit:entries' %}" style="color: orange; font-size: 2em;">See existing Waste Entries</a></td>
    <td><a href="{% url 'audit:donate' %}" style="color: orange; font-size: 2em;">Donate extra food </a></td>
    <td><a href="{% url 'audit:donate_update' %}" style="color: orange; font-size: 2em;"> Update upcoming Donations </a></td>
    <td><a href="{% url 'audit:donate_read' %}" style="color: orange; font-size: 2em;">View past Donations</a></td>
    <td><a href="{% url 'audit:accounts' %}" style="color: orange; font-size: 2em;">View your accounts  </a></td>
    <td><a href="{% url 'audit:add_food' %}" style="color: orange; font-size: 2em;">Let ChatGPT give you some ideas/recipes to handle your waste food products </a></td>

</table>

{% endblock%}