{% extends 'users/__base.html' %}
{% load index %}

{% block title %}
<title>Delete Upcoming Donation</title>
{% endblock%}

{% block content %}
<a href="{% url 'audit:donate_read' %}">Back</a>
    {% for donation in donations %}
    <form action="delete" method="post">
        {% csrf_token %}
        <input type="text" name="id" value="{{ ids|index:forloop.counter0 }}" />
        <table>
            {{ donation.as_table }}
        </table>
        <input type="submit" value="Delete" />
    </form>
    {% endfor %}

{% endblock %}

