{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="{% static 'users/css/styles.css' %}">
    {% block title %}
    <title>Food Waste</title>
    {% endblock %}
</head>
<body>
    {% include 'users/header.html' %}
    <br />
    <div class="container">
        {% block content %}
        {% endblock%}
    </div>
    {% include 'users/footer.html' %}
</body>
</html>
