

{% extends '__base.html' %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Analyzing Your Text...</title>
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
  </head>
  <style>
    .bootstrap {
      padding-top:14px;
    }
    .accordion accordion-flush{
      background-color: rgb(89, 177, 177);

    }
  </style>
  <body>
    {% block content %}
    <div class="titletext">
      <h1 class="titletext">The carbon Imprint for {{ purpose }}</h1>
    </div>

    <div class="content">
      <div class="info">
        <span>
          The expected food waste is {{ analyzed_text }} Kgs per week</span
        >
      </div>
    </div>
    <div class="content1">
      
      {% if analyzed_text >= 2 %}
      <span>
        See the carbon Impact it created could be utilised instead for:</span>
      <div class="bootstrap">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item-black">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="false"
                aria-controls="flush-collapseOne"
              >
                Fuel your car for 3 kilometers
              </button>
            </h2>
            <div
              id="flush-collapseOne"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                You could use your car and had the visit to the beach for free
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
                Power your Oven for 20 mins
              </button>
            </h2>
            <div
              id="flush-collapseTwo"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                Imagine having your favourite freshly baked oven chips for
                free!!
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree"
                aria-expanded="false"
                aria-controls="flush-collapseThree"
              >
                Saved one little Egg
              </button>
            </h2>
            <div
              id="flush-collapseThree"
              class="accordion-collapse collapse"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                With your food waste carbon imprint, you could have saved a
                chicken's child 
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>
    {% endblock %}
  </body>
</html>
