{% extends "users/__base.html" %}
{% load static %}
{% load index %}            


{% block title %}
<title> {{ item.title }} </title>
{% endblock %}

{% block content %}

<h1> {{ item.title }}</h1>
{% for content in item.content %}
<div>
    {% autoescape off %}
    <p> {{ content }}</p>
    {% endautoescape %}

    {% if item.images|index:forloop.counter0 %}

    <img src="{% static item.images|index:forloop.counter0 %} " />

    {% endif %}

</div>
{% endfor %}



{% endblock %}


<!--
E.g. Layout

Title

Content 1                           |   Image
                                    |
                                    |
                                    |

Content 2                           |   Image
                                    |
                                    |
                                    |

-->
