{% load static %}
<!--Footer -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website hit237</title>
    <link href="footer.css" rel="stylesheet"/>
</head>
<body>
    <footer class="footer">
    <h4>It is a informative website about food waste and its mitigation</h4> 
    <p>Made by hit237 Group-2.</p>
    <ul>
        <h5>Names and student Id of Group-2 are:</h5>
        <p>Matthew Bonfanti:  349051 | Arsh Hasan:        353668 | Joshua Adigun:     356169 | Meherina Shetu:    316782</p>
    </ul>
</footer>
</body>
</html>
