{% load static %}
<!--Footer -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<footer class="footer">
    <h4>It is a informative website about food waste and its mitigation</h4> 
    <p>Made by hit237 Group-2.</p>
    <ul>
        <h5>Names and student Id of Group-2 are-</h5>
        <li>Matthew Bonfanti:  349051</li>
        <li>Arsh Hasan:        353668</li>
        <li>Joshua Adigun:     356169</li>
        <li>Meherina Shetu:    316782</li>
    </ul>
</footer>
<script src="./script.js"></script>
</body>
</html>
