{% extends 'users/base.html' %}

{% block content %}
<h1>Resources</h1>

<h2>Facts and Figures</h2>
<ul>
    <li>
       <a href="https://www.ozharvest.org/food-waste-facts/">OzHarvest Food Waste Facts</a>
    </li>
    <li>
        <a href = "https://wrap.org.uk/media-centre/press-releases/cost-conscious-consumers
           -are-adjusting-household-behaviours-untapped">WRAP & Hellmann's Food Waste Market Study on Food Waste Behaviour</a>
    </li>
</ul>

<br />

<h2>Reducing Food Waste</h2>
<ul>
    <li>
        <a href="fightfoodwastecrc.com.au">Fight Food Waste</a>

    </li>
    <li>
        <a href="https://www.wwf.org.au/what-we-do/food/reducing-food-waste">WWF Reducing Food Waste</a>
    </li>
</ul>

<br />

<h2>Communities and Events</h2>
<ul>
    <li>
        <a href="https://www.foodwastesummit.com.au/">Fight Food Waste Annual Summit</a>
    </li>

</ul>
{% endblock%}